{% extends 'base.html.twig' %}

{% block title 'Agence Symfo Immo' %}


{% block body %}
<div class="jumbotron text-center">
    <h1>Agence Symfo Immo</h1>
    <p>Fort de plusieurs années d’expérience sur le secteur de PORNIC et alentour, nous intervenons uniquement dans le domaine de la transaction immobilière ancien, et, neuf au prix promoteur, réméré, viager.

        Votre Projet…, Vos Souhaits…, Votre Situation…, sont toujours des cas uniques

        Plus que jamais la valorisation de votre patrimoine immobilier est au cœur de vos désirs, et vous attendez de nous, la meilleur écoute afin d’établir une relation de confiance afin de vous donner entière satisfaction.
    </p>
</div>

{% endblock %}